html
{
	height: 100%;
}

body 
{
    background-color: #E4E4E4;
    font-family: Verdana;
    font-size: 12px;
    color: #000000;
    height: 100%;
	margin: 0;
	padding: 0;	
}

body, img
{
    border: 0px;
}

#container
{
    background-color: #E4E4E4;
    height: 100%;
    min-width: 1200px;
    width: 100%;
    position:relative;
}

#header
{
    background-color: #0067C0;
    height: 120px;

}

/* #menubar and #menu in menu.css */

#searchbar
{
	background-color: #DF003F;
	height: 60px;
	margin-top: 30px;
	border-radius: 10px 10px 0px 0px;
}
#search
{
	background-color: #FFFFFF;
	height: 30px;
	width: 300px;
	margin: 0px auto 0px auto;
	position: relative;
	top: 22px;
    line-height: 30px;
}

#content
{
    background-color: #FCFCF8;
    border: 1px solid #D8EDE8;    
    min-height: -moz-calc(100% - 355px);        /* Firefox */    
    min-height: -webkit-calc(100% - 335px);     /* WebKit */    
    min-height: -o-calc(100% - 335px);          /* Opera */    
    min-height: calc(100% - 202px);             /* Standard */
    height: auto;
    width: 1000px;
    margin: 10px auto;
    padding: 10px;
}

#footer 
{
    background-color: #E4E4E4;
    font-size: 10px;
    text-align: center;
    color: #000000;
    width: 100%;
    height: 20px;
    margin: 10px auto;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid #808080;
}

#latestnews
{
    width: 700px;
    float: left;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}

#links
{
    width: 200px;
    float: right;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}
.imgLeft
{
    float: left;
    margin: 10px;
}

.imgRight
{
    float: right;
    margin: 10px;
}

a:link { color:#000000; text-decoration:none; }         /* unvisited link */
a:visited { color:#000000; text-decoration:none; }      /* visited link */
a:hover { color:#103E4D; text-decoration:none; }        /* mouse over link */
a:active { color:#000000; text-decoration:none;}        /* selected link */


.default_button {
    position: centre;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:18px;
    font-weight:bold;
    padding:6px 34px;
    text-decoration:none;
    text-shadow:1px 1px 50px #ffffff;
}.default_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}.default_button:active {
    position:relative;
    top:1px;
}